<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="../static/js/tempusdominus-bootstrap-4.min.js"></script>
	<link rel="stylesheet" href="../static/css/tempusdominus-bootstrap-4.min.css"/>
    <script type="text/javascript" src="../static/js/jquery-3.4.1.min.js"></script>
	<script type="text/javascript" src="../static/js/moment.js"></script>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                One of three columns
            </div>
            <div class="col-sm">
                One of three columns
            </div>
        </div>
    </div>
    <div class="container">
        {%block content%}

        {%endblock content%}
    </div>
</body>
</html>